@model IEnumerable<KipiaData>


<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Date)</th>
        <th>@Html.DisplayNameFor(model => model.NaturalGas)</th>
        <th>@Html.DisplayNameFor(model => model.ThermalEnergy)</th>
        <th>@Html.DisplayNameFor(model => model.HeatCarrier)</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Date</td>
            <td>@p.NaturalGas</td>
            <td>@p.ThermalEnergy</td>
            <td>@p.HeatCarrier</td>
        </tr>
    }
</table>


